<a href="https://colab.research.google.com/github/micahvarkyez/micahvarkyez/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=int(input("enter the first no."))
y=int(input("enter the second no."))

enter the first no.10
enter the second no.15

In [2]:
p=int(input("enter the principal amount"))
n=int(input("enter the no. of years"))
r=int(input("enter the rate"))/100

enter the principal amount10000
enter the no. of years10
enter the rate15

In [3]:
I=p*n*r

In [4]:
print(I)

15000.0

In [6]:
if x>50:
  print("you are pass")
  
if x<50:
  print("you failed")

you failed

In [7]:
x=int(input("enter your salary"))

enter your salary500000

In [15]:
if 250000<x<500000:
  print("you are taxable")
  print((x-250000)*10/100)
if x<250000:
  print("you are not taxable")
if x>500000:
  print("you are taxable")
  print((x-250000)*20/100)

you are taxable
70000.0